@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font: normal 100%/1.3 'Playfair Display', serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

main {
  margin: 2rem;
}

figure {
  margin: 0;
}

.icon-left {
  width: 40px;
  float: left;
  margin-top: .7em;
}

.icon-right {
  width: 40px;
  float: right;
  margin-top: .7rem;
}

h1 {
  color: #fff;
  background-color: #663311;
  width: 100%;
  margin: 0;
  padding: .5em;
  font-size: 2rem;
  text-align: center;
}

header nav ul li {
  display: block;
  float: left;
  list-style-type: none;
  background-color: #663311;
  padding: .5em  .75em;
  line-height: 1.5;
  width: 33.3333%;
  text-align: center;
}

header li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.125rem;
}

header li:hover {
  background-color: black;
}

header ul li:first-child {
  border-right: 1px solid black;
}

header ul li:last-child {
  border-left: 1px solid black;
}

header ul {
  margin: 0 0 3em;
  padding-left: 0;
  border-top: 1px solid black;
}

.brand h2 {
  text-align: center;
  margin-bottom: 0;
}

.about h2 {
  text-align: center;
}

.about figure img {
  width: 100%;
  display: block;
  margin: 0 auto 0;
}

.about figure {
  text-align: center;
}

.about figcaption {
  font-style: italic;
}

.about figcaption p {
  margin: 0;
}

.about {
  background-color: #663311;
  color: #fff;
  border-radius: 8px;
}

.about-content {
  width: 80%;
  display: block;
  margin: 0 auto 0;
}

.about-content p {
  margin-top: 0;
}

.about .locate a {
  color: #fff;
  text-decoration: none;
  background-color: black;
  border-radius: 5px;
  padding: .5em 3em;
}

.about .locate {
  text-align: center;
  margin: 0 0 3em;
  padding: 2em;
}

.about a:hover {
  background-color: #fff;
  color: #663311;
}

li {
  list-style-type: none;
}

div h3 {
  text-align: center;
}

.flavours img {
  width: 100%;
  display: block;
}

main div h2 {
  text-align: center;
}

main ul li {
  background-color: #663311;
  display: block;
}

main ul {
  padding: 0;
}
